<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/aboutStyle.css">
    <title>About</title>
</head>
<body>
    {{>header}}

    <div id="aboutDiv">
        <p>This webpage was made for learning purpose</p>
        <p>It mainly uses Node for the server info at the backend, Client Side is made
            with (HTML/JAVASCRIPT) styling of the page is done through CSS
        </p>
        <p>Source: weather info from weatherstack api  ||  images from google images
        </p>
    </div>

    {{>footer}}
</body>
</html>