<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/helpStyle.css">
    <title>Help</title>
</head>
<body>
     {{>header}}
     <div class="helpDiv">
         <p>Use the searchbox to enter the location to get weather data</p>
         <p>Some issues you can get :-</p>
         <p>* If its taking too long for showing data try using pin code</p>
         <p>* Make sure to connect with internet to get data</p>
     </div> 
</body>
</html>