.header {
    color: rgba(219, 215, 215, 0.787);
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
    align-items: center;
    text-align: center;
}

img{
    border-radius: 1em;
}

.nav{
    text-align: center;
}

.nav a{
    border: none;
    text-align: center;
    font-size: x-large;
    margin: 1em;
    text-decoration: none;
    color: rgb(185, 212, 236);
}

/* #menu:hover{
   color: rgb(24, 21, 21);
} */

.footer{
    background-color: rgba(87, 90, 90, 0.301);
    color: rgba(219, 215, 215, 0.787);
    padding: 2em;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 1px;
}

